<!-- eithers/detail.html -->

{% extends 'base.html' %}

{% block content %}

<h3 class="text-center">{{ question.title }}</h3>
<br>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img src="{{ question.image_a.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">{{ question.issue_a }}</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="{{ question.image_b.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ question.issue_b }}</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}