<!-- movies/new.html -->

{% extends 'base.html' %}

{% block content %}

    <h1 class="text-center">영화 정보 생성</h1>
    <form action="{% url 'movies:create' %}" method="POST">
        {% csrf_token %}
        <p>
            <label for="title">제목</label><br>
            <input type="text" name="title" id="title">
        </p>
        <br>
        <p>
            <label for="title_en">영어 제목</label><br>
            <input type="text" name="title_en" id="title_en">
        </p>
        <br>
        <p>
            <label for="audience">관객 수</label><br>
            <input type="number" name="audience" id="audience">
        </p>
        <br>
        <p>
            <label for="open_date">개봉일</label><br>
            <input type="date" name="open_date" id="open_date">
        </p>
        <br>
        <p>
            <label for="genre">장르</label><br>
            <input type="text" name="genre" id="genre">
        </p>
        <br>
        <p>
            <label for="watch_grade">등급</label><br>
            <input type="text" name="watch_grade" id="watch_grade">
        </p>
        <br>
        <p>
            <label for="score">평점</label><br>
            <input type="number" name="score" id="score" step="0.01">
        </p>
        <br>
        <p>
            <label for="poster_url">포스터 URL</label><br>
            <input type="text" name="poster_url" id="poster_url">
        </p>
        <br>
        <p>
            <label for="description">영화 설명</label><br>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </p>
        <br>
        <p>
            <input type="submit" value="submit">
        </p>   
    </form>
    <p>
        <a href="{% url 'movies:index' %}">[ BACK ]</a>
    </p>

{% endblock %}