<!-- movies/index.html -->

{% extends 'base.html' %}

{% block content %}

    <h1 class="text-center">MOVIES</h1>
    <a class="btn btn-light" href="{% url 'movies:create' %}" role="button">새 영화 등록</a>
    <hr>
    {% for movie in movies %}
        <div class="movie-{{ movie.pk }}">
            <div class="list-group list-group-flush">
                    <a href="{% url 'movies:detail' movie.pk %}" class="list-group-item list-group-item-action"><strong>{{ movie.title }}</strong> ({{ movie.title_en }})  |  {{ movie.score }}</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}